.li {
  list-style: none;
}

.container {
  position: relative;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 66px;
}

.absoluteWrapper {
  position: absolute;
  width: 97%;
  bottom: 0;
  border: 2px solid var(--clr-border);
  background-color: var(--clr-bg);
  border-top-color: transparent;
  border-radius: 9px;
  z-index: 4;
  min-height: 66px;
  display: flex;
  flex-direction: column-reverse;
}

.lineText {
  display: flex;
  align-items: center;
  font-size: 13px;

  &::before,
  &::after {
    content: '';
    height: 2px;
    background-color: var(--clr-border);
    margin: 0 4px;
  }

  &::before {
    width: 10px;
  }

  &::after {
    flex-grow: 1;
  }

  &Best {
    position: absolute;
    width: 100%;
    bottom: 56px;
  }

  &Recent {
    position: absolute;
    width: 100%;
    top: -9px;
  }
}

.item {
  list-style: none;
  position: relative;
}

.bestResultButtonWrapper {
  height: 66px;
}

.bestResultButton {
  height: 100%;
  padding-right: 55px;
  border-radius: 9px;
}

.expandWrapper {
  margin-left: 10px;
  margin-right: 7px;
  position: absolute;
  right: 0;
  bottom: 16px;
}

.expand {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--clr-border);
  width: 35px;
  height: 35px;
  background: none;
  color: inherit;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-border);
  }

  &Icon {
    transition: transform 125ms;
  }

  &.showLess {
    .expandIcon {
      transform: rotate(-180deg);
    }
  }
}

.recentWrapper {
  margin-bottom: 10px;
}
