.button {
  background: none;
  border: none;
  font-family: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 9px 10px;

  &:hover {
    background-color: var(--clr-modal);
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    &:hover {
      background-color: transparent;
    }
  }
}

.resultItem {
  display: flex;
  flex-direction: column;
}

.textKey {
  opacity: 0.75;
  font-size: 12px;
}

.textValue {
  font-size: 15px;
  font-weight: bold;
}

.testType {
  font-size: 12px;
  opacity: 0.75;

  @media (max-width: 340px) {
    display: none;
  }
}

.date {
  word-spacing: 100vw;
  width: min-content;
}
