.button {
  font-family: inherit;

  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--clr-char-correct);
  cursor: pointer;
  transition: background-color 200ms ease-out;

  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.03);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.075);
  }

  &--2 {
    background-color: rgba(255, 255, 255, 0.06);

    &:hover,
    &:focus-visible {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
