.logo {
  display: flex;
  user-select: none;
  min-width: 255px;

  @media (max-width: 850px) {
    min-width: initial;
  }

  &--color {
    --clr-logo-text: var(--clr-char-correct);
  }

  &--nocolor {
    --clr-logo-text: var(--clr-char);
    --clr-logo-icon: var(--clr-char);
  }
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;

  & > path {
    fill: var(--clr-logo-icon);
    transition: fill 200ms;
  }
}


.text-div {
  display: flex;
  flex-direction: column;
  color: var(--clr-logo-text);
  transition: color 200ms;

  @media (max-width: 850px) {
    display: none;
  }

  &__title {
    font-weight: var(--font-weight-bold);
    font-size: 35px;
    white-space: nowrap;
  }
  &__subtitle {
    margin-top: 2px;
    font-size: 13px;
    text-indent: 5px;
  }
}
