.circle {
  --percent: 95;
  position: relative;
  width: 120px;
  height: 120px;
  font-size: 24px;
  animation: fillRight 1s;

  &__empty,
  &__filled,
  &__middle {
    position: absolute;
    border-radius: 50%;
  }

  &__empty,
  &__filled {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__empty {
    z-index: 1;
    background-color: var(--clr-letter-incorrect);
  }
  &__filled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    border-radius: 50%;
    background: conic-gradient(
      var(--clr-letter-correct) calc(var(--percent) * 1%),
      #0000 0
    );
  }

  &__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: var(--clr-bg);
    background-color: var(--clr-bg-dark);
    font-weight: var(--font-weight-bold);
    transform: translate(-50%, -50%);
  }
}
