.switch {
  --transition: 200ms;

  border-radius: 100vw;
  width: 50px;
  height: 27px;
  position: relative;
  background-color: transparent;
  border: 2px solid var(--clr-char-correct);
  cursor: pointer;
  transition: background-color var(--transition);

  &__circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    background-color: var(--clr-char-correct);
    transition: transform 300ms, background-color var(--transition);
  }

  &--on {
    background-color: var(--clr-char-correct);

    .switch__circle {
      background-color: var(--clr-bg-dark);
      transform: translateY(-50%) translateX(100%);
    }
  }
}
