.text-on-hover {
  position: relative;
  width: max-content;

  $translateX: translateX(-50%);
  &__text-div {
    color: currentColor;
    position: absolute;
    left: 50%;
    top: 22%;
    transform: $translateX scale(0.1);
    width: min-content;
    padding: 0.2rem 0.7rem;
    background-color: var(--clr-dark);
    border-radius: 4px;
    transition: transform 175ms, opacity 200ms;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    user-select: none;
  }

  @mixin hoverTransform($position) {
    $scale: scale(1);

    z-index: 1;
    opacity: 1;

    @if $position == top {
      transform: $translateX translateY(calc(-100% - 15px)) $scale;
    } @else if $position == bottom {
      transform: $translateX translateY(calc(100% + 15px)) $scale;
    } @else if $position == right {
      transform: translateX(50%) $scale;
    } @else if $position == left {
      transform: translateX(-150%) $scale;
    }
  }

  @mixin onHover($position) {
    &--#{$position} > :first-child:focus-visible + &__text-div {
      @include hoverTransform($position);
    }

    @media (pointer: fine) {
      &--#{$position} > :first-child:hover + &__text-div {
        @include hoverTransform($position);
      }
    }
  }

  @include onHover(top);
  @include onHover(right);
  @include onHover(bottom);
  @include onHover(left);
}
