.wrapper-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  animation: backdropFadeIn 250ms;
  animation-fill-mode: forwards;
}

@keyframes backdropFadeIn {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.modal {
  --modal-padding: 32px;
  background-color: var(--clr-modal);
  border-radius: 6px;
  max-width: 91.47%;
  max-height: 90%;
  padding: var(--modal-padding);
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-track {
    background: var(--clr-bg);
  }

  @media (max-width: 525px) {
    --modal-padding: 24px;
  }

  @media (max-width: 370px) {
    --modal-padding: 17px;
  }
}

.header {
  position: sticky;
  top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  background-color: var(--clr-modal);
  z-index: 4;
  padding-top: var(--modal-padding);
  padding-bottom: 7px;
  width: 100%;
}

.buttonClose {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.headingWrapper {
  display: flex;
  align-items: center;

  &Icon {
    margin-right: 10px;
    width: 24px;
  }
}
