.caret {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 2px;
  background-color: purple;
  animation: fadeInFadeOut 1s infinite linear;
}

@keyframes fadeInFadeOut {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



// "editor.background": "#0d0d1d",
// 		"editor.foreground": "#ffffff",
// 		"activityBarBadge.background": "#007acc",
// 		"sideBarTitle.foreground": "#ee855b",
// 		"activityBar.activeBackground": "#130941",
// 		"activityBar.background": "#161620",
// 		"activityBar.foreground": "#f85d03",
// 		"tab.activeBackground": "#0f082e",
// 		"tab.activeBorder": "#00aeff",
// 		// "tab.activeBorderTop": "#ff7300",
// 		// "tab.activeForeground": "#ff7b00",
// 		"tab.inactiveBackground": "#09051b",
// 		"tab.hoverBackground": "#190f46",
// 		"editorCursor.foreground": "#649fec",
// 		"menu.background": "#0b0527",
// 		"menu.foreground": "#e9b88b",
// 		"sideBar.background": "#070416",
// 		"statusBar.background": "#24375adc",
// 		"statusBar.debuggingBackground": "#db7d4e",
// 		"sideBarSectionHeader.background": "#120a36",
// 		"titleBar.activeBackground": "#09051bdc",
// 		"titleBar.activeForeground": "#fcfcfc",
// 		"titleBar.inactiveBackground": "#2e2a36",
// 		"titleBar.inactiveForeground": "#ffffff",
// 		"terminal.ansiCyan": "#03aaf7",
// 		"terminal.ansiBrightBlack": "#2f8a67",
// 		"terminal.background": "#0a031d",
// 		"terminalCursor.foreground": "#695656",
// 		"scrollbarSlider.background": "#4e566660",


// #00faa7
// #f8aa35

// "foreground": "#55acf3"
// "foreground": "#48515e"
// "foreground": "#faa84b"
// "foreground": "#ff67f2"
// foreground": "#89DDFF"
// "foreground": "#709eff"
// "foreground": "#fc626a"
// "foreground": "#F78C6C"
// "foreground": "#B2CCD6"
// #89DDFF"