.result {
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  padding: 2rem 15rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  @supports (backdrop-filter: blur(10px)) {
    background-color: initial;
    backdrop-filter: blur(10px);
  }

  &__wpm, &__accuracy {
    margin-top: 50px;
  }

  &__accuracy {
  }

  &__number {
    margin-top: 15px;
    font-size: 50px;
    font-weight: var(--font-weight-bold);
  }
}
