.result {
  display: flex;
  width: 90%;
  min-width: 335px;
  margin: 20px auto 0 auto;

  &__wrapper {
    position: relative;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    width: 100%;
  }

  @media (max-width: 385px) {
    width: 90%;
    min-width: initial;
  }
}

.wpm-accuracy-container {
  @media (max-width: 650px) {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 260px;
    margin: 0 auto 20px auto;
  }

  @media (max-width: 385px) {
    min-width: 200px;
  }
}

.wpm,
.accuracy {
  text-align: center;

  @media (max-width: 385px) {
    font-size: 15px;
  }
}

.wpm {
  margin-bottom: 25px;

  &__num {
    font-size: 50px;
    font-weight: var(--font-weight-bold);

    @media (max-width: 650px) {
      margin-top: 20px;
    }

    @media (max-width: 385px) {
      font-size: 40px;
    }
  }
}

.percentage-circle {
  margin-top: 10px;
  font-size: 20px;

  @media (max-width: 385px) {
    width: 100px;
    height: 100px;
  }
}

.chart {
  width: 90%;
  height: 275px;

  @media (max-width: 700px) {
    width: 85%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.label {
  text-anchor: middle;
}

.tooltip {
  background-color: var(--clr-bg-dark);
}

.restart {
  margin: 30px auto 0 auto;
}

.best {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--clr-blue);
  font-size: 18px;
  text-align: center;
}

.more-and-restart {
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.more {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 90%;
  max-width: 800px;
  margin: 20px auto 0 auto;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  @media (max-width: 650px) {
    width: 75%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @media (max-width: 460px) {
    width: 90%;
  }
}

.item {
  text-align: center;

  &__heading {
    color: var(--clr-char);
  }

  &__value {
    margin-top: 4px;
    font-size: 20px;
    font-weight: bold;
  }
}

.raw-heading {
  color: var(--clr-raw);
}

.error-heading {
  color: var(--clr-char-incorrect);

  &--noerrors {
    color: #54e7b8;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);


  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover, &:focus-visible {
    color: #ffffff;
  }

  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;

    &--arrow {
      transform: scale(1.75);
    }
  }
}
