.container {
  background-color: var(--clr-tooltip-bg);
  color: var(--clr-tooltip-text);
  padding: 10px 15px;
  border-radius: 8px;
}

.item {
  display: flex;
  align-items: center;

  &__color-block {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 2px;
    border: 1px solid var(--clr-tooltip-text);
  }

  &__text {
    margin-bottom: 4px;
  }

  &__value {
    font-weight: bold;
  }
}
