.typing {
  position: relative;
  outline: none;

  &__words {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    user-select: none;
    transition: transform 50ms;

    &__wrapper {
      height: 115px;
      overflow: hidden;
    }
  }
}

.hidden-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
