@use './typing-mixins' as typingMixins;

.letter {
  display: inline-block;
  border-left: 1px solid transparent;
  color: var(--clr-letter);

  &.active {
    @include typingMixins.caretAnimation(
      letterCaretColorFade,
      border-left-color
    );
  }

  &--correct {
    color: var(--clr-letter-correct);
  }

  &--incorrect {
    color: var(--clr-letter-incorrect);
  }
}
