.typing-result {
  width: 50%;
  min-width: 335px;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: space-between;

  @media (max-width: 385px) {
    width: 90%;
    min-width: initial;
  }

  &__wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    border-radius: 5px;

    @supports (backdrop-filter: blur(10px)) {
      background-color: initial;
      backdrop-filter: blur(10px);
    }
  }

  &__wpm,
  &__accuracy {
    text-align: center;

    @media (max-width: 385px) {
      font-size: 15px;
    }
  }

  &__number {
    margin-top: 15px;
    font-size: 50px;
    font-weight: var(--font-weight-bold);
    
    @media (max-width: 385px) {
      font-size: 40px;
    }
  }
  &__percent-circle {
    margin-top: 15px;

    @media (max-width: 385px) {
      width: 100px;
      height: 100px;
      font-size: 20px;
    }
  }
}
