@use './typing-animations' as typingAnimations;

.letter {
  display: inline-block;
  color: var(--clr-letter);
  border-left: 1px solid transparent;

  &.active {
    @include typingAnimations.caretColorFade(
      letterCaretColorFade,
      border-left-color
    );
  }

  &--correct {
    color: var(--clr-letter-correct);
  }

  &--incorrect {
    color: var(--clr-letter-incorrect);
  }
}
