.typing {
  position: relative;
  outline: none;

  &__words {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    user-select: none;
    transition: transform 50ms;

    &__wrapper {
      height: 105px;
      overflow: hidden;
    }
  }
}
