.typing {
  position: relative;
  outline: none;
  height: max-content;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__words {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    user-select: none;
    transition: transform 50ms;

    &__wrapper {
      height: 115px;
      overflow: hidden;
      position: relative;
    }
  }
}

.restart {
  position: relative;
  margin: 50px auto 0 auto;
}

.hidden-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  cursor: default;
  user-select: none;
  font-size: 16px;
}
