.word {
  margin: 5px 4px;
  border-right: 1px solid transparent;
}

.letter {
  display: inline-block;
  border-left: 1px solid transparent;
  color: var(--clr-letter);

  &--correct {
    color: var(--clr-letter-correct);
  }

  &--incorrect {
    color: var(--clr-letter-incorrect);
  }

  &--extra {
    color: var(--clr-letter-extra);
  }
}
