.result {
  display: flex;
  width: 85%;
  min-width: 335px;
  margin: 20px auto 0 auto;

  @media (max-width: 650px) {
    flex-direction: column;
    width: 100%;
  }

  @media (max-width: 385px) {
    width: 90%;
    min-width: initial;
  }
}

.wpm-accuracy-container {
  @media (max-width: 650px) {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 260px;
    margin: 0 auto 20px auto;
  }

  @media (max-width: 385px) {
    min-width: 200px;
  }
}

.wpm,
.accuracy {
  text-align: center;

  @media (max-width: 385px) {
    font-size: 15px;
  }
}

.wpm {
  margin-bottom: 25px;

  &__num {
    font-size: 50px;
    font-weight: var(--font-weight-bold);

    @media (max-width: 650px) {
      margin-top: 20px;
    }

    @media (max-width: 385px) {
      font-size: 40px;
    }
  }
}

.percentage-circle {
  margin-top: 10px;

  @media (max-width: 385px) {
    width: 100px;
    height: 100px;
    font-size: 20px;
  }
}

.chart {
  width: 90%;
  height: 275px;

  @media (max-width: 700px) {
    width: 85%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.label {
  text-anchor: middle;
}

.tooltip {
  background-color: var(--clr-bg-dark);
}

.restart {
  margin: 30px auto 0 auto;
}
