.results {
  border-radius: 6px 6px 0 0;
  border: 1px solid var(--clr-letter-correct);
  border-bottom: none;
  overflow: hidden;
  transform: translateY(calc(100% - 24px));
  transition: transform 750ms;
  background-color: var(--clr-bg-dark);
  position: fixed;
  bottom: 0;
  right: 20px;

  &--expanded {
    transform: translateY(0);
  }

  &__wrapper {
    overflow: hidden;
  }
  &__header-button {
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 15px;
    width: 100%;
    background-color: var(--clr-letter-correct);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-bg-dark);

    cursor: pointer;

    &-icon {
      transition: transform 450ms;

      &--active {
        transform: rotate(-180deg);
      }
    }
  }

  &__result {
    padding: 15px;

    &__header {
      display: flex;

      & > :first-child {
        margin-right: 10px;
      }
    }
  }
}
