.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media (max-width: 550px) {
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  &LogoActionsWrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  &Actions {
    position: relative;
    margin-right: auto;
    margin-left: 30px;
    padding-left: 10px;

    @media (max-width: 800px) {
      margin-left: 15px;
      
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 75%;
      width: 2px;
      background-color: var(--clr-char);
      border-radius: 100vw;
    }
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  transition: opacity 200ms;
}

.links {
  display: flex;
  align-items: center;
  margin-right: 30px;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    & > path {
      fill: #f0f6fc;
    }
  }
}

.github-hover-wrapper {
  display: flex;
  align-items: center;

  &__icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }
}
