.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  @media (max-width: 525px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.main {
  width: 85%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
  transition: opacity 200ms;
}

.hide {
  opacity: 0;
  transition: opacity 200ms;
}
