@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
  --clr-bg-dark: #0d0d1d;
  --clr-dark: #000;
  --clr-letter: #dcdcdc;
  --clr-letter-correct: #00faa7;
  --clr-letter-incorrect: #fc626a;
  --clr-letter-extra: #dcdcdc40;
  --clr-caret: #f8aa35;
  --clr-icon: #f0f6fc;

  --font-family-default: 'Rubik', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-regular);
  background-color: var(--clr-bg-dark);
  color: var(--clr-letter);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1100px;
  min-width: 280px;
  min-height: 100vh;
  margin: 0 auto;
}

.hide {
  opacity: 0;
  transition: opacity 200ms;
}
