.waitingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roomCode {
  display: flex;
  align-items: center;
  margin-bottom: 50px;

  &Text {
    user-select: none;
    opacity: 0.7;
  }

  &TextCode {
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
  }

  &CopyButton {
    margin-left: 5px;
  }
}

.typingWrapper {
  position: relative;
}

.countdown {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  font-weight: bold;
  font-size: 40px;

  &FadeOut {
    transition: opacity 500ms;
    transition-delay: 1.5s;
    opacity: 0;
  }
}

.players {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  max-width: 500px;
}

.player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  max-height: 175px;
  height: 32vw;
  background-color: var(--clr-modal);
  border: 3px solid var(--clr-border);
  border-radius: 15px;
  color: var(--clr-main);

  &Text {
    position: absolute;
    top: -5px;
    transform: translateY(-100%);
    color: var(--clr-char-correct);
  }

  &One {
  }

  &Two {
  }
}

.textVs {
  font-weight: bold;
  margin: 0 20px;

  @media (max-width: 400px) {
    margin: 0 10px;
  }
}

.iconUser {
  width: 40%;
  height: 40%;
}
