.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2px;

  &__title {
    @media (max-width: 550px) {
      font-weight: var(--font-weight-bold);
    }
  }

  &__buttons {
    @media (max-width: 550px) {
      margin-top: 5px;
      font-size: 18px;
    }
  }

  @media (max-width: 550px) {
    flex-direction: column;
  }
}

.button {
  margin-left: 4px;
}
