.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
  margin-top: 1rem;
  transition: opacity 200ms;
}

.links {
  display: flex;
  align-items: center;
  padding: 2rem 0;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  &__icon {
    & > path {
      fill: #f0f6fc;
    }
  }
}