.button {
  font-family: inherit;

  background: none;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--clr-char-correct);
  cursor: pointer;
  transition: opacity 175ms, background-color 75ms;
  opacity: 0.7;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  &:active {
    opacity: 1;
    background-color: var(--clr-tooltip-bg);
    color: var(--clr-tooltip-text);
  }

  &--2 {
    background-color: var(--clr-tooltip-bg);
    color: var(--clr-tooltip-text);
  }
}
