.button {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: var(--clr-char-correct);
  cursor: pointer;
  transition: opacity 175ms, background-color 75ms;
  opacity: 0.7;

  &:hover:not(&--disabled),
  &:focus-visible:not(&--disabled) {
    opacity: 1;
  }

  &:active:not(&--disabled),
  &.active {
    opacity: 1;
    background-color: var(--clr-tooltip-bg);
    color: var(--clr-tooltip-text);
  }

  &--2 {
    background-color: var(--clr-tooltip-bg);
    color: var(--clr-tooltip-text);
  }

  &--disabled {
    cursor: default;
    opacity: 0.5;
  }

  &--loading {
    position: relative;
    color: rgba(0, 0, 0, 0);
    opacity: 1;
  }
}

.loadingSpinner {
  position: absolute;
  font-size: 9px;
  top: calc(50% + 2px);
  left: 50%;
  transform: translate(-50%, -50%);
}
