.container {
  position: relative;
}

.input {
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  border-radius: 7px;
  padding: 5px;
  padding-right: 40px;
  border: 2px solid var(--clr-border);
  background: none;
  font-weight: bold;
}

