.spinner {
  width: 2em;
  height: 2em;
  border: 0.3em solid var(--clr-main);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: animationSpinner 1s linear infinite;
}
@keyframes animationSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--clr-main);
  color: var(--clr-main);
  animation: animationDotFlashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--clr-main);
  color: var(--clr-main);
  animation: animationDotFlashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--clr-main);
  color: var(--clr-main);
  animation: animationDotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes animationDotFlashing {
  0% {
    background-color: var(--clr-main);
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
