$default-bg: #0d0d1d;
$default-text: #dcdcdc;

$midnight-bg: #0b0e13;
$midnight-text: #9fadc6;

$retro-bg: #dad3c1;
$retro-text: #1d1b17;

$superuser-bg: #262a33;
$superuser-text: #e5f7ef;

$vscode-bg: #1e1e1e;
$vscode-text: #d4d4d4;
