.title {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 10px;

  &:not(:first-of-type) {
    margin-top: 30px;
  }

  &Icon {
    height: 24px;
    width: 24px;
    margin-right: 7px;
  }
}
