.container {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 10px;
}

.passwordVisibility {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  &Icon {
    opacity: 0.5;
    width: 20px;
  }
}

.inputPassword {
  padding-right: 35px !important;
}

.errorContainer {
  color: var(--clr-char-incorrect);
  min-height: 32px;
}
