.container {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-bottom: 10px;
}


.errorContainer {
  color: var(--clr-char-incorrect);
  min-height: 32px;
}


.benefits {
  position: relative;
  margin-top: 20px;
  padding-top: 20px;
  font-size: 13px;
  margin-top: 20px;
  opacity: 0.9;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 75px;
    height: 1px;
    background-color: var(--clr-char-correct);
    opacity: 0.3;
  }

  &Item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;

    &Icon {
      margin-right: 8px;
      width: 20px;
      opacity: 0.75;
    }
  }
}
